/*Images --------------------------------------------------------------*/
.img-100px {
    width: 100% !important;
}

.padded-content {
    width: 100%;
    margin: 0 10px 20px 0;
}

/*Emojis --------------------------------------------------------------*/
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.printing-text {
    font-size: 3em !important;
    font-family: 'SF-Pro-Text-Regular', sans-serif;
    border-right: .1em solid black;
    width: 16.5em;
    width: 15ch;
    margin-right: 1em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 2s steps(15, end),
    blink-caret .5s step-end infinite alternate;
}

.printing-text-short {
    font-size: 3em !important;
    font-family: 'SF-Pro-Text-Regular', sans-serif;
    border-right: .1em solid black;
    width: 16.5em;
    width: 12ch;
    margin-right: 1em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 2s steps(12, end),
    blink-caret .5s step-end infinite alternate;
}


/*Emojis --------------------------------------------------------------*/
.em {
    margin-bottom: 8px;
    height: 1.3em !important;
    width: 1.3em !important;
}

/*General --------------------------------------------------------------*/
#page-wrap {
     max-width: 1000px;
     margin: 0 auto;
}

#page-wrap-projects{
     max-width: 800px;
     margin: 0 auto;
}


/*Fonts --------------------------------------------------------------*/
@font-face {
    font-family: 'SF-Pro-Text-Regular';
    src: url("../font/SF-Pro-Text-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'SF-Pro-Text-Medium';
    font-weight: bold;
    src: url("../font/SF-Pro-Text-Medium.otf") format("opentype");
}

.body {
    font-family: 'SF-Pro-Text-Regular', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height:30px;
    margin-top: 1%;
}

.header {
    font-family: 'SF-Pro-Text-Medium', sans-serif;
/*    font-weight: 300;*/
    font-size: 30px;
}


.cough-cough {
    font-family: 'SF-Pro-Text-Medium', sans-serif;
    font-size: 10px;
}

.primary {
    font-family: 'SF-Pro-Text-Regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height:30px;
    color: #333;
}

.secondary {
    font-family: 'SF-Pro-Text-Regular', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height:30px;
    color: #999;
}

.caption {
    font-style: italic;
    text-align: center;
}

.italic {
    font-style: italic
}

.text-center {
    text-align: center;
}

.fixed {
    position: fixed;
    font-size: 24px!important;
    z-index: 100;
    padding-top: 20px;
    padding-left: 20px;
}

.fixed:hover {
    color: #ff9683!important;
}

.fa {
    color: #999;
}

.underline {
  border-bottom: 1px solid #ff9683;
  padding-bottom: 2px;
}

a.underline:hover {
  color: 	#ff9683 !important;
}

a {
	text-decoration:none !important;
	color: inherit !important;
	-webkit-transition: color 0.5s;
    transition: color 0.5s;
}

a:hover {
	color: 	#ff9683;
}

a.highlight {
	position:relative;
	text-decoration: none;
    color: #333;
}

.highlight:before{
	width:100%;
	height:10px;
	position:absolute;
	left:0px;
	bottom:-4px;
	content:"";
	display:block;
	background-color: #ff9683;
	z-index:-1;
	opacity: 1;
	-webkit-transition: height 0.5s;
    transition: height 0.5s;
}

a.highlight:hover{
	color: inherit !important;
}

a.highlight:hover:before {
	color: #ff9683;
	background-color: #ff9683;
    height:25px;
}

a:visited {
    color: inherit!important;
}

/*Padding --------------------------------------------------------------*/
.pad-xs {
	margin-bottom: 15px;
}


.pad-s {
	margin-bottom: 25px;
}

.pad-m {
	margin-bottom: 120px;
}

.pad-l {
	margin-bottom: 200px;
}

.pad-xl {
	margin-bottom: 180px;
}

.fa {
	margin-right: 15px;
}

/*Home Projects --------------------------------------------------------------*/

.project-box {
    padding: 20px;
}

.box-shadow {
    box-shadow: 0 10px 22px rgba(0,0,0,.08);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 0px!important;
}

.box-shadow:hover {
    box-shadow: 0px 16px 22px 2px rgba(51,51,51,0.2);
}

.hover-up {
    top: 0px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hover-up:hover {
    top: -20px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.outer-box {
    padding: 15px;
}

.overlay {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0px;
  background: rgba(255,255,255,0.95);
    transition: opacity 0.5s;
}

.box-shadow:hover .overlay {
    opacity: 1;
}

.vh-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 24px!important;
}

/*Projects --------------------------------------------------------------*/
.hero-sling {
    width: 100%;
    height: 400px;
    background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
    background-image: url(img/sling/sling-hero.png);
}

@media only screen and (max-width: 750px) {
    .hero-sling{
        height: 300px;
    }
}

@media only screen and (max-width: 540px) {
    .hero-sling{
        height: 200px;
    }
}

.video-grid-outer {
	background-color: #E2E8F8;
	padding: 120px!important;
}

.video-grid-item-3 {
	width: 100%;
}

@media only screen and (max-width: 750px) {
    .video-grid-outer {
        padding: 30px;
    }
}

.video-grid-outer video {
	-webkit-box-shadow: 0px 30px 40px -15px rgba(161,165,172,0.3);
	-moz-box-shadow: 0px 30px 40px -15px rgba(161,165,172,0.3);
	box-shadow: 0px 25px 40px -15px rgba(186 ,196 ,233 ,1);
}



/*Footer --------------------------------------------------------------*/
.footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: : 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.footer-bg {
    background-color: #FFFFFF;
    height: 70px;
}
